.container {
  display: grid;
  grid-template-rows: 1fr;
}

.title {
  font-weight: 600;
}

.chips {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: start;
}


:host ::ng-deep .p-chip {
  min-width: 120px;
  justify-content: center;
  cursor: pointer;
}

:host ::ng-deep .chosen-chip .p-chip {
  .p-chip-icon {
    color: #000000;
  }
  .p-chip-text {
    color: #000000;
  }
  background-color: #ff745c;
}
