.search-options-page {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.map-container {
  grid-column: 1/3;
  height: 100vh;
}

.search-bar {
  grid-column: 1/2;
  margin:3px;
}

.right-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#search-button {
  grid-column: 2/3;
  align-self: center;
}


