.container {
  background: white;
  border-radius: 0.7rem;
  box-shadow: 2.9px 5.8px 5.8px hsl(0deg 0% 0% / 0.41);
}

:host ::ng-deep .card {
  height: 100%;
  width: 100%;
  box-shadow: 1.0px 2.1px 2.1px hsl(0deg 0% 0% / 0.47);
}
