<header style="font-size: 1.2rem; font-weight: bold; text-decoration: underline">
  Direct trading settings:
</header>
<div style="display: grid; grid-template-columns: 1fr">
  <div id="choose-status">
    <p>Choose your trading status</p>
    <div style="display: flex; justify-content: center;">
      <div *ngFor="let status of statuses" style="display: flex; align-self: center; padding-right: 1.2rem;">
        <p-radioButton [inputId]="status" name="status" [value]="status" [(ngModel)]="selectedStatus"></p-radioButton>
        <label [for]="status" style="margin-left: 0.4rem;">{{ status }}</label>
      </div>
    </div>
  </div>
  <br>
  <div id="enter-amount">
    <p>Enter amount to buy/sell</p>
    <p-inputGroup>
      <input type="text" pInputText placeholder="0" style="text-align: right; width: 8rem;" [(ngModel)]="selectedEnergy">
      <p-inputGroupAddon>kWh</p-inputGroupAddon>
    </p-inputGroup>
  </div>
  <br>
  <div id="enter-price">
    <p>Enter total price</p>
    <p-inputGroup>
      <p-inputGroupAddon>$</p-inputGroupAddon>
      <input type="text" pInputText placeholder="0" style="text-align: left; width: 8rem;" [(ngModel)]="selectedPrice"/>
    </p-inputGroup>
  </div>
  <br>
  <div id="enter-date">
    <p>Choose a date to expire your transaction</p>
    <p-calendar
      [(ngModel)]="selectedDate"
      [iconDisplay]="'input'"
      [showIcon]="true"
      inputId="templatedisplay"
      styleClass="datepicker"
    ></p-calendar>
  </div>
  <br><br><br>
  <div style="justify-self: center">
    <p-button styleClass="save-button" label="Save" (click)="printVars()"></p-button>
  </div>
</div>

