<header style="font-size: 1.2rem; font-weight: bold; text-decoration: underline">
  Direct trading settings:
</header>
<div style="display: grid; grid-template-columns: 1fr">
  <div id="choose-status">
    <p>Choose your trading status</p>
    <div style="display: flex; justify-content: center;">
      <div *ngFor="let status of statuses" style="display: flex; align-self: center; padding-right: 1.2rem;">
        <p-radioButton [inputId]="status" name="status" [value]="status" [(ngModel)]="selectedStatus"></p-radioButton>
        <label [for]="status" style="margin-left: 0.4rem;">{{ status }}</label>
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="selectedStatus != undefined && selectedStatus != 'Not trading'" id="options">
    <div *ngIf="selectedStatus === 'Buying'">
      <div id="enter-buying-amount">
        <p>Enter amount to buy</p>
        <p-inputGroup>
          <div style="width: 12rem">
            <input type="text" pInputText placeholder="0" style="text-align: right; width: 100%"
                   [(ngModel)]="selectedEnergy">
          </div>
          <p-inputGroupAddon>kWh</p-inputGroupAddon>
        </p-inputGroup>
      </div>
      <br>
      <div id="enter-buying-price">
        <p>Enter price to purchase for</p>
        <p-inputGroup>
          <p-inputGroupAddon>$</p-inputGroupAddon>
          <div style="width: 12rem">
            <input type="text" pInputText placeholder="0" style="text-align: left; width: 100%;"
                   [(ngModel)]="selectedPrice"/>
          </div>
        </p-inputGroup>
      </div>
      <br>
    </div>
    <div *ngIf="selectedStatus === 'Selling'">
      <div id="enter-selling-amount">
        <p>Enter amount to sell</p>
        <p-inputGroup>
          <div style="width: 12rem">
            <input type="text" pInputText placeholder="0" style="text-align: right; width: 100%"
                   [(ngModel)]="selectedEnergy">
          </div>
          <p-inputGroupAddon>kWh</p-inputGroupAddon>
        </p-inputGroup>
      </div>
      <br>
      <div id="enter-selling-price">
        <p>Enter price to sell for</p>
        <p-inputGroup>
          <p-inputGroupAddon>$</p-inputGroupAddon>
          <div style="width: 12rem">
            <input type="text" pInputText placeholder="0" style="text-align: left; width: 100%;"
                   [(ngModel)]="selectedPrice"/>
          </div>
        </p-inputGroup>
      </div>
      <br>
    </div>
    <div id="enter-selling-date">
      <p>Choose a date to expire your transaction</p>
      <p-calendar
        [(ngModel)]="selectedDate"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [showTime]="true"
        [showSeconds]="true"
        [hideOnDateTimeSelect]="false"
        inputId="templatedisplay"
        styleClass="datepicker"
      ></p-calendar>
    </div>
    <br><br><br>
  </div>
  <div *ngIf="selectedStatus != undefined" style="justify-self: center">
    <p-button styleClass="save-button" label="Save" (click)="printVars()"></p-button>
  </div>
</div>
