<div class="message-container">
  <div class="message">
    <h5>{{ trader }} wants to {{ getTransactionType() }} {{ energyAmount }} kWh of energy for $12</h5>
    <div style="display: flex; justify-content: space-around">
      <div>
        <p-button class="button" (onClick)="accept()" label="Accept" severity="success" icon="pi pi-check"></p-button>
      </div>
      <div>
        <p-button class="button" (onClick)="reject()" label="Reject" severity="danger" icon="pi pi-times"></p-button>
      </div>
    </div>
  </div>
</div>
