<html>
<p-sidebar
  [(visible)]="_sidebarService.sidebarVisible"
  [baseZIndex]="2"
  position="right"
  [style]="{'width' : '27%'}"
>
  <app-user-sidebar></app-user-sidebar>
</p-sidebar>
<p-confirmDialog [key]="'log-out'"></p-confirmDialog>
<body>
<div class="home-page">
  <div class="left-part">
    <app-navbar></app-navbar>
  </div>
  <div class="right-part">
    <div class="header-container">
      <app-header-banner
        [userId]="localStorage.getItem('currentUser')!"
        [username]="username"
        [userInfo]="userInfo"
        [notificationsCount]="notificationsCount"
        [numberOfUsersInQueue]="numberOfUsersInQueue"
      ></app-header-banner>
    </div>
    <div *ngIf="toggledNotifications" class="notification-container">
      <app-notification class="notifications-dd" #notificationsRef></app-notification>
    </div>
    <div class="divider-container">
      <!--      <p-divider styleClass="divider" layout="horizontal"></p-divider>-->
      <hr>
    </div>
    <div class="text-boxes">
      <app-text-box style="width: 40%"
                    [title]="'Direct trading settings'"
                    [tradingInfo]="userTradingInfo"
                    [date]="date"
      ></app-text-box>
      <app-text-box style="width: 40%"
                    [title]="'Indirect trading settings'"
                    [tradingInfo]="userTradingInfo"
                    [date]="date"
      ></app-text-box>
    </div>
    <div style="font-weight: 600; grid-column: 1/37; margin-left: 2.5%; height: 50%;">
      <p>Payment History</p>
    </div>
    <div style="grid-column: 1/37; transform: scale(0.95); grid-row: 5/6">
      <p-tabView>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <i class="pi pi-arrow-right-arrow-left"></i>
            <span>&nbsp;&nbsp;Direct</span>
          </ng-template>
          <app-table-filter></app-table-filter>
          <br>
          <div class="table-component">
            <app-direct-history style="justify-self: center"
                                [fullPaymentHistory]="directTableInfo"
            ></app-direct-history>
          </div>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <i class="pi pi-users"></i>
            <span>&nbsp;&nbsp;Indirect</span>
          </ng-template>
          <app-indirect-history style="justify-self: center"
                                [tradeHistory]="indirectTableInfo"
          ></app-indirect-history>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="chip-grid">
      <div class="chip-container">
        <p-chip (click)="show()" label="Trade Now" icon="pi pi-shopping-cart" styleClass="purchase-chip"></p-chip>
      </div>
    </div>
  </div>
</div>
</body>
</html>
