<html>
<p-sidebar
  [(visible)]="_sidebarService.sidebarVisible"
  [baseZIndex]="2"
  position="right"
  [style]="{'width' : '27%'}"
>
  <app-user-sidebar></app-user-sidebar>
</p-sidebar>
<p-confirmDialog [key]="'log-out'"></p-confirmDialog>
<body>
<div class="home-page">
  <div class="left-part">
    <app-navbar></app-navbar>
  </div>
  <div class="right-part">
    <div class="header-container">
      <app-header-banner
        [userId]="localStorage.getItem('currentUser')!"
        [username]="username"
      ></app-header-banner>
    </div>
    <div *ngIf="toggledNotifications" class="notification-container">
      <app-notification class="notifications-dd" #notificationsRef></app-notification>
    </div>
    <div class="divider-container">
      <!--      <p-divider styleClass="divider" layout="horizontal"></p-divider>-->
      <hr>
    </div>
    <div class="text-boxes">
      <app-text-box style="width: 40%"></app-text-box>
      <app-text-box style="width: 40%"
                    [title]="'Indirect trading settings'"
                    [status]="'Selling'"
                    [transactionPrice]="6"
                    [expiryDate]="'Tuesday'"
      ></app-text-box>
      <!--      <app-text-box class="text-box-1"-->
      <!--                    [backgroundColor]="'rgb(177, 250, 179)'"-->
      <!--                    [infoTextColor]="'green'"-->
      <!--                    [boxTitle]="totalEnergyBoughtBox.title"-->
      <!--                    [boxInfo]="totalEnergyBoughtBox.powerValue.toFixed(2) + ' KW - ' + totalEnergyBoughtBox.price + ' $'"-->
      <!--                    [boxDate]="totalEnergyBoughtBox.date"-->
      <!--      ></app-text-box>-->
      <!--      <app-text-box class="text-box-2"-->
      <!--                    [backgroundColor]="'lightgrey'"-->
      <!--                    [infoTextColor]="'midnightblue'"-->
      <!--                    [boxTitle]="pendingPaymentsBox.title"-->
      <!--                    [boxInfo]="pendingPaymentsBox.powerValue.toFixed(2) + ' KW - ' + pendingPaymentsBox.price + ' $'"-->
      <!--                    [boxDate]="pendingPaymentsBox.date"-->
      <!--      ></app-text-box>-->
      <!--      <app-text-box class="text-box-3"-->
      <!--                    [backgroundColor]="'lightgrey'"-->
      <!--                    [infoTextColor]="'midnightblue'"-->
      <!--                    [boxTitle]="accountBalanceBox.title"-->
      <!--                    [boxInfo]="accountBalanceBox.balance + ' $'"-->
      <!--                    [boxDate]="accountBalanceBox.date"-->
      <!--                    [isAccountBalance]="accountBalanceBox.isAccountBalance"-->
      <!--      ></app-text-box>-->
    </div>
    <div style="grid-column: 1/37; transform: scale(0.95)">
      <app-table-filter></app-table-filter>
    </div>
    <div class="table-component">
      <app-table-history></app-table-history>
    </div>
    <div class="chip-grid">
      <div class="chip-container">
        <p-chip (click)="show()" label="Trade Now" icon="pi pi-shopping-cart" styleClass="purchase-chip"></p-chip>
      </div>
    </div>
  </div>
</div>
</body>
</html>
