.div {
  background-color: #fafbff;
}
.div-2 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 21%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-3 {
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  margin: 0 auto;
  padding: 12px 13px 50px;
}
.div-4 {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  gap: 9px;
}
.img {
  aspect-ratio: 1.04;
  object-fit: contain;
  object-position: center;
  width: 113px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.div-5 {
  color: #000;
  letter-spacing: 0.26px;
  flex-grow: 1;
  margin: auto 0;
  font: 400 26px Outfit, sans-serif;
}
.div-6 {
  align-self: start;
  display: flex;
  margin-left: 26px;
  gap: 14px;
}
@media (max-width: 991px) {
  .div-6 {
    margin-left: 10px;
  }
}
.img-2 {
  aspect-ratio: 1.2;
  object-fit: contain;
  object-position: center;
  width: 24px;
}
.div-7 {
  color: #fff;
  letter-spacing: -0.14px;
  align-self: start;
  margin-top: 7px;
  font: 500 14px Poppins, sans-serif;
}
.div-8 {
  align-self: center;
  display: flex;
  margin-top: 4px;
  width: 231px;
  max-width: 100%;
  justify-content: space-between;
  gap: 20px;
}
.div-9 {
  display: flex;
  flex-direction: column;
}
.div-10 {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  font-weight: 500;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-10 {
    white-space: initial;
  }
}
.div-11 {
  justify-content: center;
  color: var(--Label-Colors-LC-L-Secondary, rgba(60, 60, 67, 0.6));
  text-align: center;
  font: 18px/278% SF Pro Display, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.div-12 {
  color: #9197b3;
  letter-spacing: -0.16px;
  margin: auto 0;
  font: 16px Outfit, sans-serif;
}
.div-13 {
  display: flex;
  margin-top: 43px;
  justify-content: space-between;
  gap: 14px;
}
@media (max-width: 991px) {
  .div-13 {
    margin-top: 40px;
  }
}
.img-3 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}
.div-14 {
  color: #9197b3;
  letter-spacing: -0.16px;
  font: 500 16px Outfit, sans-serif;
}
.div-15 {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-4 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
}
.img-5 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  margin-top: 48px;
}
@media (max-width: 991px) {
  .img-5 {
    margin-top: 40px;
  }
}
.div-16 {
  align-self: center;
  display: flex;
  margin-top: 40px;
  width: 231px;
  max-width: 100%;
  justify-content: space-between;
  gap: 20px;
}
.div-17 {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}
.img-6 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}
.div-18 {
  color: #9197b3;
  letter-spacing: -0.16px;
  align-self: start;
  margin-top: 10px;
  font: 500 16px Outfit, sans-serif;
}
.img-7 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  margin: auto 0;
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 79%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-19 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-19 {
    max-width: 100%;
  }
}
.div-20 {
  border-bottom: 1px solid
  var(--Dividers-and-Borders---grey-Light, #cecece);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 7px 50px 18px 0;
}
@media (max-width: 991px) {
  .div-20 {
    max-width: 100%;
    padding-right: 20px;
  }
}
.div-21 {
  justify-content: center;
  color: #373b5c;
  font: 500 12px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-21 {
    max-width: 100%;
  }
}
.div-22 {
  align-self: end;
  display: flex;
  gap: 18px;
  padding: 2px 0;
}
.img-8 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 28px;
  fill: rgba(0, 0, 0, 0);
  margin: auto 0;
}
.div-23 {
  align-items: center;
  border-radius: 9.212px;
  border: 1.152px solid #e8eff7;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  gap: 11px;
  padding: 9px;
}
.img-9 {
  aspect-ratio: 0.85;
  object-fit: contain;
  object-position: center;
  width: 34px;
  align-self: stretch;
  margin: auto 0;
}
.div-24 {
  align-self: stretch;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  color: #373b5c;
  font-weight: 500;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-24 {
    white-space: initial;
  }
}
.div-25 {
  justify-content: center;
  font: 12px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-25 {
    white-space: initial;
  }
}
.div-26 {
  justify-content: center;
  font: 20px Poppins, sans-serif;
}
.img-10 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 28px;
  fill: rgba(0, 0, 0, 0);
  align-self: stretch;
  margin: auto 0;
}
.div-27 {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  padding: 0 80px 0 24px;
}
@media (max-width: 991px) {
  .div-27 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-28 {
  margin-right: 14px;
}
@media (max-width: 991px) {
  .div-28 {
    max-width: 100%;
    margin-right: 10px;
  }
}
.div-29 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-29 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-30 {
  justify-content: center;
  align-items: start;
  border-radius: 5px;
  border: 1px solid var(--Secondary-Background, #f3f4f6);
  background-color: #dcfaed;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-weight: 400;
  width: 100%;
  padding: 20px 80px 20px 16px;
}
@media (max-width: 991px) {
  .div-30 {
    margin-top: 16px;
    padding-right: 20px;
  }
}
.div-31 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  font: 16px Outfit, sans-serif;
}
.div-32 {
  color: var(--success-green-100, #0ead69);
  margin-top: 10px;
  white-space: nowrap;
  font: 500 22px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-32 {
    white-space: initial;
  }
}
.div-33 {
  color: var(--Inactive-State-Color, rgba(73, 69, 79, 0.8));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.1px;
  margin-top: 12px;
  font: 10px Outfit, sans-serif;
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.div-34 {
  justify-content: center;
  align-items: start;
  border-radius: 5px;
  border: 1px solid var(--Secondary-Background, #f3f4f6);
  background-color: #f5f6f8;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-weight: 400;
  width: 100%;
  padding: 20px 80px 20px 16px;
}
@media (max-width: 991px) {
  .div-34 {
    margin-top: 16px;
    padding-right: 20px;
  }
}
.div-35 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  white-space: nowrap;
  font: 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-35 {
    white-space: initial;
  }
}
.div-36 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  //background-color: var(
  //    --gRADIENT,
  //    linear-gradient(180deg, #1db7c2 0%, #413b89 100%)
  //);
  margin-top: 10px;
  white-space: nowrap;
  font: 500 22px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-36 {
    white-space: initial;
  }
}
.div-37 {
  color: var(--Inactive-State-Color, rgba(73, 69, 79, 0.8));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.1px;
  margin-top: 12px;
  font: 10px Outfit, sans-serif;
}
.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-5 {
    width: 100%;
  }
}
.div-38 {
  border-radius: 5px;
  border: 1px solid var(--Secondary-Background, #f3f4f6);
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  width: 100%;
  flex-grow: 1;
  padding-top: 18px;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .div-38 {
    margin-top: 16px;
  }
}
.div-39 {
  align-self: start;
  display: flex;
  margin-left: 16px;
  gap: 11px;
}
@media (max-width: 991px) {
  .div-39 {
    margin-left: 10px;
  }
}
.div-40 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-40 {
    white-space: initial;
  }
}
.img-11 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 17px;
  fill: var(--Primary-Blue, #413b89);
}
.div-41 {
  border-radius: 20px;
  background-color: var(--Secondary---White, #fff);
  display: flex;
  margin-top: 6px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  padding: 1px 80px 9px 16px;
}
@media (max-width: 991px) {
  .div-41 {
    padding-right: 20px;
  }
}
.div-42 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  //background-color: var(
  //    --gRADIENT,
  //    linear-gradient(180deg, #1db7c2 0%, #413b89 100%)
  //);
  white-space: nowrap;
  font: 500 22px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-42 {
    white-space: initial;
  }
}
.div-43 {
  display: flex;
  margin-top: 10px;
  width: 84px;
  padding-right: 42px;
  align-items: start;
  gap: 0px;
}
@media (max-width: 991px) {
  .div-43 {
    padding-right: 20px;
  }
}
.img-12 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex: 1;
}
.img-13 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex: 1;
}
.div-44 {
  color: var(--Inactive-State-Color, rgba(73, 69, 79, 0.8));
  margin: 31px 14px 0 0;
  font: 500 22px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-44 {
    max-width: 100%;
    margin-right: 10px;
  }
}
.div-45 {
  align-self: start;
  display: flex;
  margin-top: 22px;
  gap: 16px;
}
@media (max-width: 991px) {
  .div-45 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-46 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.17px;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid var(--Primary-Blue, #413b89);
  background-color: var(--Secondary---White, #fff);
  flex-grow: 1;
  padding: 17px 53px;
  font: 500 17px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-46 {
    padding: 0 20px;
  }
}
.div-47 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.17px;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid #ebebee;
  background-color: var(--Secondary---White, #fff);
  flex-grow: 1;
  padding: 16px 26px;
  font: 500 17px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-47 {
    padding: 0 20px;
  }
}
.div-48 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.17px;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid #ebebee;
  background-color: var(--Secondary---White, #fff);
  flex-grow: 1;
  padding: 15px 32px;
  font: 500 17px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-48 {
    padding: 0 20px;
  }
}
.div-49 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.17px;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid #ebebee;
  background-color: var(--Secondary---White, #fff);
  flex-grow: 1;
  padding: 15px 30px;
  font: 500 17px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-49 {
    padding: 0 20px;
  }
}
.div-50 {
  border-radius: 12px;
  border: 1px solid #ebebee;
  background-color: var(--Secondary---White, #fff);
  display: flex;
  padding-bottom: 38px;
  flex-direction: column;
  margin: 16px 14px 0 0;
}
@media (max-width: 991px) {
  .div-50 {
    max-width: 100%;
    margin-right: 10px;
  }
}
.div-51 {
  justify-content: space-between;
  border-bottom: 1px solid
  var(--Dividers-and-Borders---grey-Light, #cecece);
  display: flex;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-51 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-52 {
  display: flex;
  justify-content: space-between;
  gap: 0px;
}
@media (max-width: 991px) {
  .div-52 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-53 {
  color: var(--Inactive-State-Color, rgba(73, 69, 79, 0.8));
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid
  var(--Dividers-and-Borders---grey-Light, #cecece);
  flex-grow: 1;
  padding: 23px 60px;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-53 {
    white-space: initial;
    padding: 0 20px;
  }
}
.div-54 {
  color: var(--Inactive-State-Color, rgba(73, 69, 79, 0.8));
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid
  var(--Dividers-and-Borders---grey-Light, #cecece);
  flex-grow: 1;
  padding: 23px 60px;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-54 {
    padding: 0 20px;
  }
}
.div-55 {
  color: var(--Inactive-State-Color, rgba(73, 69, 79, 0.8));
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  white-space: nowrap;
  justify-content: center;
  border-bottom: 1px solid
  var(--Dividers-and-Borders---grey-Light, #cecece);
  flex-grow: 1;
  padding: 21px 23px;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-55 {
    white-space: initial;
    padding: 0 20px;
  }
}
.div-56 {
  color: var(--Inactive-State-Color, rgba(73, 69, 79, 0.8));
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid
  var(--Dividers-and-Borders---grey-Light, #cecece);
  flex-grow: 1;
  padding: 23px 60px;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-56 {
    white-space: initial;
    padding: 0 20px;
  }
}
.div-57 {
  color: rgba(73, 69, 79, 0.9);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font: 400 16px Outfit, sans-serif;
}
.div-58 {
  display: flex;
  padding-right: 44px;
  justify-content: space-between;
  gap: 0px;
}
@media (max-width: 991px) {
  .div-58 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}
.div-59 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  align-items: start;
  background-color: var(--Secondary-Background, #f3f4f6);
  flex-grow: 1;
  justify-content: center;
  padding: 23px 60px 23px 24px;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-59 {
    padding: 0 20px;
  }
}
.div-60 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  white-space: nowrap;
  align-items: start;
  background-color: var(--Secondary-Background, #f3f4f6);
  flex-grow: 1;
  justify-content: center;
  padding: 22px 58px;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-60 {
    white-space: initial;
    padding: 0 20px;
  }
}
.div-61 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  justify-content: center;
  align-items: center;
  background-color: var(--Secondary-Background, #f3f4f6);
  flex-grow: 1;
  padding: 23px 60px;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-61 {
    padding: 0 20px;
  }
}
.div-62 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  justify-content: center;
  align-items: center;
  background-color: var(--Secondary-Background, #f3f4f6);
  flex-grow: 1;
  padding: 23px 60px;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-62 {
    padding: 0 20px;
  }
}
.div-63 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  align-items: start;
  background-color: var(--Secondary-Background, #f3f4f6);
  flex-grow: 1;
  justify-content: center;
  padding: 23px 60px 23px 24px;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-63 {
    padding: 0 20px;
  }
}
.div-64 {
  margin: 23px 33px 0;
}
@media (max-width: 991px) {
  .div-64 {
    max-width: 100%;
    margin-right: 10px;
  }
}
.div-65 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-65 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 68%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-6 {
    width: 100%;
  }
}
.div-66 {
  flex-grow: 1;
}
@media (max-width: 991px) {
  .div-66 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-67 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-67 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-7 {
    width: 100%;
  }
}
.div-68 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-68 {
    margin-top: 40px;
  }
}
.div-69 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  font: 400 16px Outfit, sans-serif;
}
.div-70 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  margin-top: 45px;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-70 {
    margin-top: 40px;
  }
}
.div-71 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  margin-top: 45px;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-71 {
    margin-top: 40px;
  }
}
.div-72 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  margin-top: 45px;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-72 {
    margin-top: 40px;
  }
}
.div-73 {
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  letter-spacing: 0.16px;
  margin-top: 45px;
  font: 400 16px Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-73 {
    margin-top: 40px;
  }
}
.div-74 {
  display: flex;
  margin-top: 31px;
  justify-content: space-between;
  gap: 5px;
}
.img-14 {
  aspect-ratio: 2;
  object-fit: contain;
  object-position: center;
  width: 48px;
}
.div-75 {
  color: rgba(51, 51, 51, 0.8);
  flex-grow: 1;
  white-space: nowrap;
  font: 500 16px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-75 {
    white-space: initial;
  }
}
.column-8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-8 {
    width: 100%;
  }
}
.div-76 {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-weight: 400;
  letter-spacing: 0.16px;
}
@media (max-width: 991px) {
  .div-76 {
    margin-top: 40px;
  }
}
.div-77 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}
.div-78 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
}
.div-79 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
}
.div-80 {
  display: flex;
  margin-top: 43px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-80 {
    margin-top: 40px;
  }
}
.div-81 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}
.div-82 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
}
.div-83 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
}
.div-84 {
  display: flex;
  margin-top: 43px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-84 {
    margin: 40px 7px 0 0;
  }
}
.div-85 {
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
}
.div-86 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
}
.div-87 {
  display: flex;
  margin-top: 43px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-87 {
    margin-top: 40px;
  }
}
.div-88 {
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
}
.div-89 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
}
.div-90 {
  display: flex;
  margin-top: 43px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-90 {
    margin-top: 40px;
  }
}
.div-91 {
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}
.div-92 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
}
.column-9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 32%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-9 {
    width: 100%;
  }
}
.div-93 {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 4px;
}
@media (max-width: 991px) {
  .div-93 {
    margin-top: 40px;
  }
}
.div-94 {
  align-self: start;
  display: flex;
  flex-basis: 0%;
  flex-direction: column;
  font-size: 16px;
  color: var(--text-color-80-opacity, rgba(34, 34, 34, 0.9));
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.16px;
}
@media (max-width: 991px) {
  .div-94 {
    white-space: initial;
  }
}
.div-95 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
}
.div-96 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
  margin-top: 45px;
}
@media (max-width: 991px) {
  .div-96 {
    margin-top: 40px;
  }
}
.div-97 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
  margin-top: 45px;
}
@media (max-width: 991px) {
  .div-97 {
    margin-top: 40px;
  }
}
.div-98 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
  margin-top: 45px;
}
@media (max-width: 991px) {
  .div-98 {
    margin-top: 40px;
  }
}
.div-99 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
  margin-top: 45px;
}
@media (max-width: 991px) {
  .div-99 {
    margin-top: 40px;
  }
}
.div-100 {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
.div-101 {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 16px;
  color: var(--success-green-100, #0ead69);
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: 0.16px;
  padding: 0 33px 0 80px;
}
@media (max-width: 991px) {
  .div-101 {
    white-space: initial;
    padding: 0 20px;
  }
}
.div-102 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
}
@media (max-width: 991px) {
  .div-102 {
    margin-left: 8px;
  }
}
.div-103 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
  margin-top: 45px;
}
@media (max-width: 991px) {
  .div-103 {
    margin: 40px 0 0 8px;
  }
}
.div-104 {
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
  margin-top: 45px;
}
@media (max-width: 991px) {
  .div-104 {
    margin: 40px 0 0 8px;
  }
}
.div-105 {
  color: var(--Warning-Red, rgba(193, 11, 14, 0.8));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
  margin-top: 45px;
}
@media (max-width: 991px) {
  .div-105 {
    margin: 40px 0 0 8px;
  }
}
.div-106 {
  color: var(--Truecaller-logo-color, #0978f2);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: Outfit, sans-serif;
  margin-top: 42px;
}
@media (max-width: 991px) {
  .div-106 {
    margin: 40px 0 0 8px;
  }
}
.div-107 {
  display: flex;
  margin-top: 28px;
  justify-content: space-between;
  gap: 5px;
  padding: 0 2px;
}
.img-15 {
  aspect-ratio: 1.67;
  object-fit: contain;
  object-position: center;
  width: 40px;
}
.div-108 {
  color: rgba(51, 51, 51, 0.8);
  font: 500 16px Poppins, sans-serif;
}
.img-16 {
  aspect-ratio: 1.79;
  object-fit: contain;
  object-position: center;
  width: 43px;
}
.div-109 {
  border-radius: 144px;
  background: linear-gradient(
      180deg,
      #0ac36a 0%,
      rgba(29, 183, 194, 0) 100%
  );
  align-self: center;
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  gap: 20px;
  padding: 33px 43px;
}
@media (max-width: 991px) {
  .div-109 {
    padding: 0 20px;
  }
}
.img-17 {
  aspect-ratio: 0.95;
  object-fit: contain;
  object-position: center;
  width: 43px;
}
.div-110 {
  color: #000;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font: 500 36px Inter, sans-serif;
}

