<table class="box" [style.background-color]="backgroundColor" [style.display]="'flex'">
  <div class="inside-box" >
    <tr>
      <td>
        <p class="box-title">{{boxTitle}}</p>
      </td>
      <td>
        <i *ngIf="isAccountBalance" class="pi pi-money-bill" [style.padding-left]="'15px'"></i>
      </td>
    </tr>
    <tr>
      <p class="box-info" [style.color]="infoTextColor">{{boxInfo}}</p>
    </tr>
    <tr>
      <p class="box-date">{{boxDate}}</p>
      <table *ngIf="isAccountBalance">
        <td>
          <button style="border: none; background-color: transparent; padding-left: 0;">
            <i class="pi pi-plus-circle" style="color: darkblue"></i>
          </button>
        </td>
        <td>
          <button style="border: none; background-color: transparent">
            <i class="pi pi-trash" style="color: #e01e1e"></i>
          </button>
        </td>
      </table>
    </tr>
  </div>
</table>
