table {
  border-collapse: collapse;
}
.box {
  width: 150%;
}
.inside-box {
  padding-left: 3%;
  height: 50%;
}
.box-title {
  font-weight: bold;
}
.box-info {
  font-weight: 600;
  color: grey
}
.box-date {
  font-size: 11px;
}
