.home-page {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
}

.left-part {
  height: 100vh;
  //background-color: #ff745c;
  //margin-left: -0.6rem;
  //margin-bottom: -0.5rem;
}

.right-part {
  display: grid;
  grid-template-rows: 0.5fr 25px 1.2fr 0.5fr 2.5fr 0.7fr;
  grid-template-columns: repeat(36, 1fr);
  grid-row-gap: 0;
  background-color: #f6f1f1;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.dropdown-container {
  padding-top: 1.5%;
  z-index: 1;
  grid-column: 1/37;
  grid-row: 1/2;
}

.notification-container {
  z-index: 2;
  grid-row: 1/4;
  grid-column-start: 15;
  grid-column-end: 27;
  padding-top: 4rem;
}

.buy-sell-popup {
  background-color: grey;
  z-index: 2;
  grid-row: 5/6;
  grid-column: 13/19;
  align-self: center;
  justify-self: center;
}

.divider-container {
  z-index: 1;
  grid-column: 1/37;
  grid-row: 2/3;
}

:host ::ng-deep .divider {
  height: 3px;
  background-color: black;
  z-index: 1;
}

.chip-grid {
  grid-column: 1/37;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  z-index: 1;
}

.chip-container {
  grid-column: 2 / 3;
  grid-row: 4/5;
  z-index: 1;
}

:host ::ng-deep .purchase-chip {
  cursor: pointer;
  transform: scale(1.7);
  //grid-column: 2 / 3;
  width: 100%;
  justify-content: center;
  margin-bottom: 20%;
  background: linear-gradient(180deg, rgba(255,116,92,1) 23%, rgba(255,255,255,1) 82%);
}

.text-boxes {
  grid-column: 1/37;
  grid-row: 3/4;
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(3, 1fr);
  * {
    width: 90%;
    justify-self: center;
  }
}

.table-component {
  z-index: 1;
  grid-column: 1/37;
  grid-row: 5/6;
  width: 95%;
  justify-self: center;
}
