<div class="container">
  <p-table styleClass="p-datatable-gridlines"
    [value]="paymentHistory"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width' : '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width:9%">Order ID</th>
        <th style="width:18%">Date</th>
        <th style="width:15%">Energy Traded</th>
        <th style="width:10%">Price</th>
        <th style="width:16%">Role</th>
        <th style="width:16%">Other User</th>
        <th style="width:16%">Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
      <tr>
        <td>{{ entry.id }}</td>
        <td>{{ moment(entry.initialDate).format("hh:mm A, DD MMM YYYY") }}</td>
        <td>{{ entry.energyAmount }} kWh</td>
        <td>{{ entry.price }} EGY</td>
        <td>{{ capitalize(entry.role) }}</td>
        <td>{{ entry.otherUser }}</td>
        <td>{{ capitalize(entry.status) }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
