<div class="page-up">
  <p style="grid-column: 2/12; font-size: 0.8rem">User: {{localStorage.getItem("currentUser")}}</p>
  <div class="icons-component">
    <button (click)="openPopup()" class="pi pi-bell" id="bell"></button>
    <button onclick="alert('Settings Section')" class="pi pi-cog" id="settings"></button>
    <button (click)="logoutUser()" class="pi pi-sign-out" id="logout"></button>
  </div>
  <div class="dropdown-component">
    <p-panelMenu [model]="items" styleClass="user-icon"></p-panelMenu>
  </div>
</div>
