<div class="container">
  <p-table styleClass="p-datatable-gridlines"
    [value]="paymentHistory"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width' : '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width:11.67%">Order ID</th>
        <th style="width:24%">Date</th>
        <th style="width:14.67%">Energy Traded</th>
        <th style="width:16.67%">Role</th>
        <th style="width:16.67%">Other User ID</th>
        <th style="width:16.67%">Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
      <tr>
        <td>{{ entry.orderId }}</td>
        <td>{{ moment(entry.orderDate).format("hh:mm:ss A, DD MMM YYYY") }}</td>
        <td>{{ entry.energyTraded }} kWh</td>
        <td>{{ capitalize(entry.userRole) }}</td>
        <td>{{ entry.otherUserId }}</td>
        <td>{{ capitalize(entry.transactionStatus) }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
