<div class="page-up">
  <div class="icons-component">
    <button onclick="openPopup()" class="pi pi-bell" id="bell"></button>
    <div *ngIf="open" class="popup-container">
      <app-notification></app-notification>
    </div>
    <button onclick="alert('Settings Section')" class="pi pi-cog" id="settings"></button>
    <button onclick="alert('Log-out Section')" class="pi pi-sign-out" id="logout"></button>
  </div>
  <div class="dropdown-component">
    <p-panelMenu [model]="items" styleClass="user-icon"></p-panelMenu>
  </div>
</div>
