<body>
<div id="content">
  <div class="upper-page">
  </div>
  <div class="img">
    <img width="300px" height="300px" alt="Logo" src="/assets/file.enc">
  </div>
  <h1 style="grid-column: 1/2; grid-row: 1/2; justify-self: center; align-self:center;">
    Welcome Back <br><br><br><br> to <b><i>Electrigity!</i></b>
  </h1>
  <img id="energy-bolt" src="/assets/energy_bolt.png" alt="energy">
  <h1 style="grid-column: 3/4; grid-row: 1/2; justify-self: center; align-self:center;">
    Energy Trading <br><br><br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Platform.
  </h1>
  <img id="electricity-charge" src="/assets/electricity_charge.png" alt="energy">
  <div class="bottom-page"></div>
  <div class="login-button" style="width: 100%">
    <p-button (click)="onClickLogin()" label="Login"></p-button>
  </div>
  <div class="register-button" style="width: 100%;">
    <p-button (click)="onClickSignup()" label="Signup"></p-button>
  </div>
  <h2 id="metamask">We use METAMASK wallet for currency storage, upon sign up you will connect <br> your own.</h2>
  <img id="metamask-fox" src="/assets/MetaMask_Fox.svg.webp">
  <h2 id="blockchain">We use blockchain for trading between peers and to ensure a secure network</h2>
  <img id="energy-blockchain" src="assets/blockchain_cube.png">
</div>
</body>
